body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.clear{
    clear: both;
}

.weight-900{
    font-weight: 900;
}

.weight-800{
    font-weight: 800;
}

.weight-700{
    font-weight: 700;
}

.weight-600{
    font-weight: 600;
}

.weight-500{
    font-weight: 500;
}

.weight-400{
    font-weight: 400;
}

.weight-300{
    font-weight: 300;
}

li{
    list-style-type: none;
    display: inline-block;
}

hr{
    color: rgb(211, 211, 211);
}

header{
    width: 100%;
}

header nav{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 20px;
}

header nav ul li a:hover{
    border-bottom: 1.5px solid black;
    transition: 0.5s ease-in-out;
}

#white-logo{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 17px;
}

header nav ul{
    display: inline-block;
}

header nav ul li:first-child{
    margin-left: 87px;
}

header nav p{
    color: grey;
    display: inline-block;
}

#searchbar{
    display: inline-block;
}

.button{
    border: none;
    background-color: transparent;
}

.button i{
    color: grey;
}

.champ{
    width: 90px;
    border: none;
    color: grey;
}

h1{
    text-align: center;
    color: white;
    background-image: url("../img/clean_code_bg.jpg");
    padding: 90px 0;
    margin: 0;
}

section{
    width: 1200px;
    margin: 30px auto;
}

.news{
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

.news:first-child{
    margin-top: 0;
}

.news img{
    float: left;
    width: 400px;
    height: 300px;
}

.news a{
    display: inline-block;
    max-width: 42%;
    margin: 0;
    margin-left: 15px;
    text-decoration: none;
}

.news a:first-child{
    display: block;
    margin-left: 0;
}

.news hr{
    width: 46%;
    color: grey;
}

.news a:nth-child(2){
    font-size: 11px;
    color: grey;
    margin: 0;
    margin-left: 15px;
}

.news a:nth-child(3){
    font-size: 25px;
    max-width: 48%;
    color: black;
}

.news a:nth-child(4){
    color: grey;
    margin: 15px 15px;
}

.news a:nth-child(6){
    color: grey;
}

.news a:last-child{
    margin-left: 15px;
    margin-top: 15px;
    color: black;
    font-weight: 500;
    width: 100%;
}

#article p{
    width: 97%;
}

#article p:first-child{
    color: grey;
    font-size: 13px;
    margin-bottom: 3px;
}

#article :nth-child(2){
    font-size: 34px;
    font-weight: 350;
    margin-top: 0;
    margin-bottom: 15px;
}

#article a:nth-child(3){
    color: grey;
    font-size: 14px;
    text-decoration: none;
    word-spacing: 6px;
}

#article img:nth-child(4){
    width: 97%;
    margin-top: 20px;
}

#article p:nth-child(5){
    line-height: 23px;
    color: grey;
}

#article p:nth-child(6){
    margin-top: 50px;
    line-height: 23px;
    color: grey;
}

#article p:nth-child(7){
    margin-top: 30px;
    line-height: 23px;
    color: grey;
}

#article button{
    display: inline-block;
    color: grey;
    text-decoration: none;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px 15px;
    margin: 3px;
    background-color: transparent;
}

#article-comments{
    width: 97%;
}

#article-comments p{
    float: left;
    width: unset;
}

#article-comments p:nth-child(2){
    font-weight: 900;
    font-size: 20px;
    margin-top: 16px;
}

#article-comments p:nth-child(3){
    font-weight: 300;
    font-size: 20px;
    margin-top: 16px;
    margin-left: 5px;
}

.commu{
    width: 100%;
}

.commu img{
    width: 9%;
    height: 3.4vw;
    float: left;
}

.commu a{
    float: left;
    color: black;
    text-decoration: none;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-left: 25px;
}

.commu p:nth-child(3){
    font-size: 13px !important;
    margin-top: 2px !important;
}

#left-section{
    width: 800px;
    float: left;
}

#pages{
    margin-top: 30px;
}

#pages a{
    display: inline-block;
    color: grey;
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    padding-top: 9px;
    margin: 0 5px;
}

#pages a:active{
    color: black;
    border: 1px solid black;
}

#pages a:nth-child(3){
    color: black;
    border: 1px solid black;
}

#right-section{
    width: 400px;
    float: left;
}

#right-section ul{
    padding-left: 0;
    margin-bottom: 20spx;
}

#right-section ul li{
    width: 100%;
    list-style: circle;
    border-top: 1px solid rgb(211, 211, 211);
    padding: 10px 0;
}

#right-section ul li a{
    color: grey;
    text-decoration: none;
    font-size: 18px;
}

#right-section ul li:last-child{
    border-bottom: 1px solid rgb(211, 211, 211);
}

#posts{
    width: 400px;
}

#posts p{
    font-size: 20px;
}

.popular-posts{
    width: 100%;
    margin-bottom: 20px;
}

.popular-posts img{
    width: 400px;
    height: 150px;
}

.popular-posts a{
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}

.popular-posts a:nth-child(2){
    font-size: 18px;
}

.popular-posts a:last-child{
    color: grey;
    font-size: 13px;
}

#tags{
    width: 400px;
}

#tags p{
    font-size: 20px;
}

#tags button{
    display: inline-block;
    color: grey;
    text-decoration: none;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
    margin: 3px;
    background-color: transparent;
}

#tags button:hover{
    border: 1px solid black;
    color: black;
}

#right-section hr{
    margin: 25px 0;
}

#blog{
    width: 400px;
}

#blog p:first-child{
    font-size: 20px;
}

#blog p:last-child{
    color: grey;
}

footer{
    background-color: rgb(34, 34, 34);
}

#footer{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 450px;
}

#footer-posts{
    width: 380px;
    float: left;
}

#footer-posts p{
    color: white;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer-popular-posts{
    width: 100%;
    height: 57px;
    margin-bottom: 30px;
}

.footer-popular-posts img{
    width: 20%;
    height: 55px;
    float: left;
}

.footer-popular-posts a:nth-child(2){
    color: white;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    max-width: 75%;
}

.footer-popular-posts a:nth-child(3){
    color: grey;
    text-decoration: none;
    margin-left: 10px;
    font-size: 12px;
}

#zebi{
    width: 100%;
}

#footer-about{
    width: 380px;
    float: left;
    margin-left: 20px;
}

#footer-about p:first-child{
    color: white;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 20px;
}

#footer-about p:nth-child(2){
    color: grey;
    line-height: 25px;
}

#footer-about p:nth-child(3){
    color: grey;
    line-height: 25px;
}

#footer-icons a{
    text-decoration: none;
    color: grey;
    height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 24px;
    border: 1px solid rgb(85, 85, 85);
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    margin-left: 13px;
}

#footer-contact{
    width: 380px;
    float: left;
    margin-left: 20px;
}

#footer-contact p:first-child{
    color: white;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 20px;
}

#footer-contact #name{
    width: 380px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(70, 70, 70);
    box-sizing: border-box;
    padding: 10px;
    color: rgb(70, 70, 70);
}

#footer-contact #message{
    margin-top: 10px;
    width: 380px;
    height: 100px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(70, 70, 70);
    box-sizing: border-box;
    padding: 10px;
    color: rgb(70, 70, 70);
}

#footer-contact #send{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(70, 70, 70);
    color: rgb(70, 70, 70);
}

@media (max-width: 898px){
    header{
        height: 300px;
    }

    header nav{
        width: 100%;
    }

    header nav a{
        margin: 0px 10px;
        font-size: 16px;
        font-weight: 600;
    }

    header nav ul li:first-child{
        margin-left: 10px;
    }

    header h1{
        display: none;
    }

    header nav p{
        display: none;
    }

    header nav li{
        margin-top: 10px;
    }

    #searchbar{
        position: absolute;
        top: 18px;
        right: 2%;
    }

    header nav ul{
        position: relative;
        top: 70px;
        left: -235px;
    }

    header nav ul li:first-child {
        margin-left: 0px;
    }

    header nav ul li{
        display: block;
    }

    #white-logo{
        float: left;
    }

    section{
        width: 100%;
    }

    #left-section{
        width: 98%;
        float: unset;
        margin: 0 auto;
    }

    #right-section{
        width: 98%;
        float: unset;
        margin: 0 auto;
    }

    .news hr{
        display: none;
    }

    .news img {
        float: left;
        width: 61%;
        height: 20vw;
    }

    .news a{
        max-width: 46%;
    }

    .news a:nth-child(3) {
        font-size: 25px;
        max-width: 68%;
        color: black;
    }

    .news a:nth-child(6) {
        color: grey;
        margin-top: 15px;
        max-width: 100%;
    }

    #posts{
        width: 98%;
    }

    .popular-posts img {
        width: 100%;
        height: 18vw;
    }

    .popular-posts a:first-child {
        width: 30%;
    }

    .popular-posts a:nth-child(2){
        font-size: 18px;
        float: right;
        width: 67%;
    }

    .popular-posts a:last-child {
        position: relative;
        left: 33%;
        bottom: 10vw;
        width: unset;
    }

    #tags{
        width: 100%;
    }

    #tags button{
        font-size: 17px;
    }

    #blog {
        width: 100%;
        height: 360px;
    }

    #footer{
        width: 100%;
        height: 1100px;
    }

    #footer-posts {
        width: 100%;
        float: left;
    }

    .footer-popular-posts a:nth-child(2) {
        color: white;
        text-decoration: none;
        margin-left: 10px;
        display: inline-block;
        width: 77%;
    }

    #footer-peta{
        margin: 0 auto;
        width: 98%;
    }

    #footer-about {
        margin-left: 0;
        width: 98%;
    }

    #footer-contact{
        margin: 0px auto;
        padding-top: 710px;
        width: 98%;
        float: unset;    
    }

    #footer-contact #name{
        width: 100%;
    }

    #footer-contact #message{
        width: 100%;
    }
}

@media (max-width: 1199px) and (min-width:899px){
    header nav{
        width: 890px;
    }

    header nav a{
        margin: 0px 10px;
        font-size: 13px;
    }

    header nav ul li:first-child{
        margin-left: 10px;
    }

    section{
        width: 100%;
    }

    #left-section{
        width: 890px;
        float: unset;
        margin: 0 auto;
    }

    #right-section{
        width: 890px;
        float: unset;
        margin: 0 auto;
    }

    .news hr{
        width: 51.5%;
    }

    #posts{
        width: 890px;
    }

    .popular-posts a:first-child{
        width: 45%;
    }

    .popular-posts a:nth-child(2){
        font-size: 18px;
        float: right;
        width: 400px;
    }

    .popular-posts a:last-child{
        position: relative;
        left: 488px;
        bottom: 105px;
        width: unset;
    }

    #tags{
        width: 890px;
    }

    #tags button{
        font-size: 17px;
    }

    #blog {
        width: 890px;
        height: 360px;
    }

    #footer{
        width: 100%;
        height: 800px;
    }

    #footer-peta{
        margin: 0 auto;
        width: 890px;
    }

    #footer-about{
        margin-left: 128px;
    }

    #footer-contact{
        margin: 0px auto;
        padding-top: 360px;
        width: 890px;
        float: unset;    
    }

    #footer-contact #name{
        width: 890px;
    }

    #footer-contact #message{
        width: 890px;
    }
}

@media (min-width:1200px){}